[2013-06-13 06:59] gnufied opened #2 "Invoker should allow pry or debugger to work with managed processes"

[2013-06-13 06:59] gnufied opened #3 "Invoker should use harsher methods of killing a process if sending SIGINT signal failed"

[2013-06-13 06:59] gnufied opened #4 "Invoker should work with rubinius"

[2013-06-18 21:08] mbleigh opened #6 "Invoker should default to start action"
If I say `invoker myinvoker.ini` that should be the same as `invoker start myinvoker.ini`. Just my opinion.

[2013-06-19 10:31] gnufied opened #7 "Add proper reload support."
Reload support is already there, but it is kind of disabled right now because reloading can cause race conditions. This has to be added carefully.

[2013-06-25 12:13] gnufied opened #9 "Add a command to list currently running commands"

[2013-06-27 18:27] #9 closed, assigned to nobody

[2013-06-27 18:27] #7 closed, assigned to nobody

[2013-06-27 18:34] #6 closed, assigned to iffyuva

[2013-06-29 04:52] #4 closed, assigned to nobody

[2013-07-02 06:31] gnufied opened #11 "Add support for automatically reloading an application on file changes"
This is a rough idea and will need some thinking before implementing.

[2013-07-18 16:22] leehambley opened #12 "Invoker should honour the present working directory."
It seem insane not to automatically (or by some special value for `directory=`) to specify the "current directory that the ini file lives in".

Without this, I can't check my invoker file into the working repository, as I keep my code in `~/Projects/`, and my colleagues use `/code` and `~/code/` with a fairly even split.

Was invoker intended to be used in this way, or had you intended to have an

[2013-08-08 06:51] #12 closed, assigned to nobody

[2013-09-11 03:46] gnufied opened #13 "Add support for spring?"
I am thinking invoker should support spring (https://github.com/jonleighton/spring). I have not worked out details yet but I am thinking of a flag in config file which will enable invoker to start spring server on each supported application.

[2013-09-17 04:22] avinasha opened #14 "Error on "invoker list""
Hi,
I am getting the following error when I try to list the processes using `invoker list`

[code]

Conflicting gem versions?
I am using `invoker (0.1.1)`

[2013-09-17 04:44] #14 closed, assigned to nobody

[2013-09-17 20:06] gnufied opened #15 "Create support for pow like subdomain loading for apps managed by invoker"

[2013-09-18 07:15] #3 closed, assigned to nobody

[2013-09-26 10:01] gnufied opened #16 "Invoker should be compatible with procfiles"

[2013-10-07 05:25] gnufied opened #19 "Invoker does not work after pow installation and setup. It requires full reboot!"

[2013-10-07 05:26] gnufied opened #20 "Invoker loses firewall rules after a reboot"
The firewall rules created via `invoker setup` is lost on reboot. We need to create a `LaunchDaemon` which should start automatically and install the rules.

[2013-10-07 17:48] gnufied opened #22 "Make .dev TLDs work on Linux"

[2013-10-07 20:33] #20 closed, assigned to ami7ava

[2013-10-07 20:33] #19 closed, assigned to gnufied

[2013-10-07 20:33] gnufied opened #24 "Add a new invoker command that removes setup done by invoker"

[2013-10-07 20:33] #15 closed, assigned to nobody

[2013-10-08 09:41] iffyuva opened #25 "slop instance is emitted when invoker -v is run"
issue might be from [here](https://github.com/code-mancers/invoker/blob/master/lib/invoker/parsers/option_parser.rb#L87):

[code]

default cmd is thinking that there is no file being passed, and so emitting opts which is an instance of `Slop`

[2013-10-09 05:51] #24 closed, assigned to ami7ava

[2013-10-09 17:55] tomchapin opened #29 "Invoker not working correctly with rbenv"
Here's the command given in the documentation that doesn't seem to be working:

[code]

Here's my invoker ini file:

[code]

Here's what happens when I try to run invoker:

[code]

When I alter my invoker ini to run this command instead:

[code]

I get this result:

[code]

It appears that invoker is launching the zsh instance in some sort of manner that is skipping all of the initialization and p

[2013-10-11 03:27] #29 closed, assigned to nobody

[2013-10-11 03:47] #25 closed, assigned to nobody

[2013-10-11 03:49] gnufied opened #30 "For .dev Domains that do not have a match, Invoker should return a pretty error page"

[2013-10-11 03:50] gnufied opened #31 "For .dev domains that do have a match, but backend is not found running invoker should show error page"

[2013-10-17 07:39] #16 closed, assigned to ami7ava

[2013-10-23 20:15] gnufied opened #34 "If a command forks multiple processes, restart of those processes should be handled gracefully"

[2013-10-26 18:40] gnufied opened #36 "Make process restart more robust"

[2013-10-31 09:54] gnufied opened #37 "On fresh OSX /etc/resolver directory does not exist"
and hence setup throws error. The script should create the directory if it does not exist.

[2013-10-31 09:54] #31 closed, assigned to nobody

[2013-10-31 09:54] #30 closed, assigned to nobody

[2013-11-01 05:15] #37 closed, assigned to nobody

[2013-11-01 10:58] scsmith opened #40 "Load .env files for each directory"
Currently a single .env file is loaded for a single directory. This works great if your working on a simple app. However, invoker allows you to specify a different directory for each process, and you could be starting 2-3 different apps, all with different requirements.

It would be great if the .env file for each of those directories could be loaded and passed to each command individually. Then e

[2013-11-01 11:00] scsmith opened #41 "Allow running invoker in the background"
It would be great if the following commands were available.

`invoker run` - the same as the current invoker start, showing stdout for each process
`invoker start` - starts invoker and runs it in the background
`invoker stop` - stops the currently running invoker

That way you can startup everything in the background without it occupying a terminal window with everything you're running in the outp

[2013-11-01 11:02] scsmith opened #42 "Add an `invoker tail [process]` command"
This would let you tail a specific process or all of them within a different window.

For example if you had an app, worker and redis running you could have two terminals. One running `invoker tail app` and one running invoker `tail worker` to see the two logs you were interested in within different windows.

With the ability to start in the background (#41) this would allow you to skip seeing the

[2013-11-01 15:26] #34 closed, assigned to nobody

[2013-11-06 05:08] gnufied opened #43 "if command label has '-' in it, DNS resolution does not work"

[2013-11-06 12:25] gnufied opened #44 "It should not be possible to start a already running process"

[2013-11-07 22:27] dgdosen opened #46 "Using Invoker with Guard"
Hi all -

I'm trying to start a "guard" process with invoker - and it exits right away with no error.  Any ideas why?

It works fine when I run it directly from the command line.  I've tried using with a "bundle exec" prefix and without...

[2013-11-12 18:27] #43 closed, assigned to ami7ava

[2013-11-14 06:55] #44 closed, assigned to ami7ava

[2013-11-14 07:00] gnufied opened #48 "Expose DNS and http proxy of Invoker for processes running outside invoker"
Steve mentioned that, it would be really nice to use DNS and http proxy of Invoker for processes running outside invoker.

It should be relatively easy to do, but we need to figure out the CLI interface of it.

[2013-11-17 09:32] #40 closed, assigned to ami7ava

[2013-12-15 11:03] #46 closed, assigned to ami7ava

[2014-01-26 23:00] kiranh opened #50 "Latest version of Rainbow broke invoker"
rubydns depends on rainbow gem >= 0. As a result new installations of Invoker installs `rainbow` >= 2.0.0 which has changed the syntax of color commands.

[2014-01-30 21:22] #50 closed, assigned to nobody

[2014-03-07 15:43] gnufied opened #54 "Allow users to run programs that can be run as root via sudo"

[2014-03-28 16:50] #48 closed, assigned to ami7ava

[2014-04-07 11:06] #41 closed, assigned to gnufied

[2014-04-07 11:09] #42 closed, assigned to nobody

[2014-04-09 11:52] gnufied opened #61 "Error running setup on fresh machine"
[code]

[2014-04-09 21:46] #61 closed, assigned to nobody

[2014-04-14 22:08] gnufied opened #63 "For services where we know the port specified show a notifcation when reload is sucessful"
For services configured which use particular port, it should be possible to ping the port and check if it has really started to validate process restart.

This will fix the problem when - after reload sometimes we don't know for sure, if the process is up or still not started.

[2014-04-18 20:54] dlee opened #64 "Support HTTPS"
I want to be able to serve HTTPS for development purposes using self-signed certs.

It would be great if invoker could do an SSL-terminating port forwarder on 443.

[2014-04-21 17:07] dwbutler opened #65 "Auto detect default configuration file"
Thanks for building this. I've been looking for a better alternative to Foreman.

Similar to how `foreman start` works, it would be nice if running `invoker start` would automatically detect either a `invoker.ini` or `Procfile`.

If this sounds like a reasonable feature, I can attempt a pull request.

[2014-04-24 15:38] scsmith opened #67 "Allow processes that are `inactive` by default"
It would be nice to allow processes to be added to the ini file that don't load automatically when you call `invoker start my.ini`.

You could then call `invoker start processname` to make the process load when you actually need it.

Alternatively @gnufied suggested it might be possible to make it load automatically when it's called by the URL. So calling http://processname.dev would force a start

[2014-05-17 22:39] ioquatix opened #68 "RubyDNS 1.0.0 release, can you please test."
We are preparing for 1.0.0 release of RubyDNS. Changes are mostly performance and bug fixing, tidy up code base.

ioquatix/rubydns#28

If possible can you please test with latest 0.8.x and report back. We aim to do 1.0.0 release of RubyDNS by the end of this month. Thanks for your help!

[2014-05-18 12:33] gnufied opened #69 "Invoker does not work on Linux"
[code]

[2014-05-18 13:26] kgrz opened #70 "`invoker start` raise a TypeError if no config file is present"
Not really a deal breaker but this could use a better message. Invoker version `1.0.3`

[code]

Ruby version: ruby-2.0.0-p247

[2014-05-18 13:44] #70 closed, assigned to nobody

[2014-05-21 23:04] #69 closed, assigned to nobody

[2014-05-23 14:51] ami7ava opened #75 "Reload command does not wok on linux"
Got this error from the `reload` command while invoker was running as daemon

[code]

[2014-05-28 07:42] #75 closed, assigned to gnufied

[2014-05-31 02:59] #22 closed, assigned to ami7ava

[2014-06-10 13:24] mhodgson opened #79 "OS X 10.10 Yosemite Support (ipfw removed)"
Yosemite removed ipfw (which had been deprecated since OS X 10.7). See here for a new solution for redirecting port 80:

https://github.com/basecamp/pow/issues/452

PF has been available since OS X 10.7 so you may consider switching wholesale from ipfw to pf.

[2014-06-10 18:55] #64 closed, assigned to ami7ava

[2014-06-11 19:15] shaneog opened #80 "How to use with chruby"
Is it possible to update the docs for installation with chruby, and running via chruby?

In my case to run the setup I had to use

`sudo -E chruby-exec ruby-2.1.2 -- invoker setup`

[2014-06-13 00:10] #80 closed, assigned to nobody

[2014-06-16 14:34] ericclemmons opened #84 "Per-project Usage?"
Perhaps I don't understand the purpose of the project entirely, but, here's my scenario:
- Multiple node apps running (with port conflicts today).
- Communication between node apps when developing.
- Currently, `npm start` on production, `gulp` or `grunt` on development.

So, my questions are:
- Why is it that invoker can't be ran within each project (`invoker start Procfile`)
- Obviously, a Procf

[2014-06-16 15:39] #84 closed, assigned to nobody

[2014-06-19 21:25] brainlid opened #87 "does not proxy port on linux"
I'm using Ubuntu 13.10 as a development machine with Ruby on Rails. I ran the invoker setup and appear to have everything setup correctly.

Example config file:
[qlp]
directory = /home/mark/dev/qlp
command = bundle exec rails s -p $PORT

I can start the process and verify it works. However, it will ONLY respond if I explicitly add the port to the url. (must do http://qlp.dev:9001). It does not res

[2014-06-20 12:27] #79 closed, assigned to nobody

[2014-06-21 18:47] #2 closed, assigned to nobody

[2014-06-21 18:54] gnufied opened #88 "Document remote-pry usage with Invoker"

[2014-06-25 13:17] hiroshi opened #89 "A way to access invoker processes from other devices in LAN"
Like pow does with xip.io.
https://signalvnoise.com/posts/3191-announcing-pow-040-with-xipio-support

[2014-07-04 07:29] kgrz opened #91 "Add documentation on how to configure subdomains"
The feature is already there. Some example `.ini` and `Procfile` (not sure these support that configuration) example files can be added.

[2014-07-07 08:30] bitboxer opened #92 "ng-app="app" header removed"
I just tried to run an angular rails app using the `project.dev` proxy but sadly the proxy removes somehow changes the header from:

[code]

to

[code]

I don't understand what is happening here and why it is removes. When I access the same app using the port it is running on, it is sill there.

[2014-07-07 09:00] #92 closed, assigned to nobody

[2014-07-28 14:31] iffyuva opened #93 "add a command for verifying invoker setup for .dev support"
right now, once i do `sudo invoker setup`, there is no way to know whether my `.dev` support is working properly or not. i would request to add another command, say `invoker setup check`, or something which checks output of `ipfw list` or its `pfctl` equivalent, and verify that setup is indeed done.

[2014-08-06 15:44] braidn opened #94 "Question: Starting Invoker Processes In Procfiles"
Hey All,

I have been playing with this for a bit this morning and so far am happy. However, is there a way to start an invoker process through a Procfile in one directory and then cd to another directory and add another process (from the current directory) to the invoker list? I can't seem to figure out how this is done. Thanks.

[2014-08-13 22:55] carljm opened #97 "Separate process-management from domain-handling"
Thanks for Invoker - it seems like an excellent improvement on Foreman!

But here's my issue with it: managing processes is one thing; doing port/DNS magic and reconfiguring my OS network stack is entirely another thing. Why are they bundled together inextricably in Invoker?

I really want to use Invoker as a better replacement for Foreman, but I have zero interest in the dev-domain features. It's

[2014-08-28 19:42] #94 closed, assigned to nobody

[2014-09-01 14:30] phil opened #99 "Running multiple invoker servers"
Hi, first off, Invoker is a great tool and many congrats for improving the pow+foreman development style.

However, In my day-to-day work, I work with many projects, and whereas before, I could spin up a foreman process for each project, and have them all running at the same time, Invoker won't let me. I understand the need for only running one server as this handles the DNS and port forwarding (w

[2014-09-12 12:52] gnufied opened #101 "Make tld `.dev` configurable"
There is a chance that `.dev` can be made globally available TLD, in which case using `.dev` for local development may not be viable, so I think we should aim to make TLD configurable so as developers can locally configure it.

[2014-09-22 07:01] iffyuva opened #102 "installing invoker with ruby-2.2.0-preview1 fails"
this is because of eventmachine.

compilation issues:

[code]

please check https://github.com/eventmachine/eventmachine/issues/509 and https://github.com/eventmachine/eventmachine/issues/495

[2014-09-30 02:20] deep-spaced opened #103 "Multiple Domain support in Invoker"
Hi, all,

As I understand, currently a single local development domain points to a single app assigned in the .ini file. An app named `web` would then be available at `web.dev`.

Is there any support for multiple domains pointing to one app, such as the app being named `web` and then `firstdomain.dev` and `seconddomain.dev` mapping to it?

Thanks!

[2014-10-01 12:03] #103 closed, assigned to nobody

[2014-10-18 22:05] bitboxer opened #104 "proxy on yosemite not working"
I installed yosemite on a 2nd computer today. Invoker is working, but the .dev is not proxying to the actual port of the app. Using appname.dev:9001 is working, though.

[2014-10-21 16:39] #104 closed, assigned to nobody

[2014-10-21 16:40] #68 closed, assigned to nobody

[2014-10-24 16:44] thinkmorebetter opened #107 "Running invoker without an internet connection"
If I don't have an internet connection, there seems to be an issue with running invoker and my browser fails to go to web.dev. Is there any workaround for this? Thanks!

[2014-10-27 17:27] gnufied opened #109 "Remove dependency on Eventmachine and migrate to Celluloid"

[2014-10-29 06:59] swrobel opened #110 "Proxy websockets"
It would be great to be able to proxy secure websockets (wss://) to insecure websocket servers (ws://) the same way that invoker does https to http proxying. An example application of this is livereload servers, which all still seem to only support insecure websockets.

[2014-10-29 18:48] ysimonson opened #112 "mkdir error on OS X Yosemite"
Hello, I reinstalled invoker today to get it working on Yosemite. This is basically what I did:

[code]

But now I'm getting a permissions error on a call to mkdir:

[code]

[2014-10-29 19:53] #112 closed, assigned to nobody

[2014-11-12 17:19] ysimonson opened #113 "Slow restarts with newer versions"
My web framework is configured to automatically restart on code changes. Ever since upgrading invoker to the new version that supports OS X Yosemite, it takes a long time to restart - I just timed the last couple of restarts to be 10-15 seconds. Previously it was within 1-2 seconds, and when I run my web server without invoker it still restarts within 1-2 seconds.

Was invoker's web server polling

[2014-12-09 17:25] #113 closed, assigned to nobody

[2014-12-22 12:35] #102 closed, assigned to ami7ava

[2015-01-12 15:44] mattscilipoti commented on #107
Pow.cx has this same issue.  They [recommend](https://github.com/basecamp/pow/issues/104) adding an entry to /etc/hosts for each application you want to access when offline: "127.0.0.1	your_app_name.dev".  [powder](https://github.com/Rodreegez/powder) (a manager for pow.cx) provides a cli helper ([powder host](https://github.com/rodreegez/powder/blob/master/bin/powder#L287)) to manage this.

I wou

[2015-01-15 10:52] kek commented on #29
The suggestion by @gnuified doesn't work anymore. I have tried it and I'm still getting

`login : Your Ruby version is 2.1.3, but your Gemfile specified 2.1.5`

zsh 5.0.5 (x86_64-apple-darwin14.0)
rbenv 0.4.0-98-g13a474c

[2015-01-15 10:56] kek commented on #29
This worked:

`command = RBENV_VERSION=2.1.5 bash -c 'rbenv exec bundle exec rails s'`

[2015-01-15 13:28] kek opened #116 "Third-level domain name"
I'm trying to configure Invoker something like this:

[code]

But when visiting `http://someapp.somedomain.dev`, I'm getting a 404 error, like any other unconfigured name.

I need to have a common second-level domain in order to share a cookie between two applications.

I am thinking about changing the regexp in https://github.com/code-mancers/invoker/blob/master/lib/invoker/power/balancer.rb#L25

[2015-01-16 10:04] kek commented on #116
Closing as there is already a PR at #98

[2015-01-16 10:04] #116 closed

[2015-01-30 11:38] Darksecond opened #118 "Add support for groups"
It would be nice to have group support. So a number of processes can be managed at the same time.

[2015-01-30 11:39] iffyuva commented on #118
this is pretty nice idea!

[2015-02-09 13:22] madsheep commented on #2
@emilsoman To be honest using pry-remote feels much more unstable and far less comfortable than pure pry workflow. I've team members refusing to use invoker (and any other process mng tool like foreman for that matter) because of lack of ability to use pry 'normally'

@gnufied Any chance this could become native feature for invoker? Maybe with some sort of plugin for pry?

[2015-02-14 00:05] nisanth074 opened #119 "Simpler usage instructions when using rvm"
Not sure if running
[code]
makes the invoker binary available always, when using rvm
[code]

A simpler way to is take advantage of `rvm do` command and add an alias
[code]

I plan to update the usage instructions with rvm. Thoughts?

[2015-02-19 09:01] iffyuva commented on #119
i generally install invoker everytime i install a new ruby version. let me try approach and get back to you.

[2015-02-19 10:15] iffyuva commented on #119
im okie with adding this usage instruction to docs as a suggestion.

[2015-02-19 10:16] iffyuva commented on #119
btw, running `rvmsudo invoker setup` is used to setup firewall rules and stuff. this command and the statement "makes the invoker binary available always" are not related.

my workflow with rvm and invoker is this:

[code]

so, i always set latest version as default. as a result, if i have to use `rvm default do invoker` im forced to install invoker everytime i install a new ruby version as my def

[2015-02-19 10:54] nisanth074 commented on #119
Thanks for sharing your workflow. The line "makes the invoker binary available always" was misleading. I'll add the alias as a suggestion
[code]

[2015-02-19 10:54] #119 closed

[2015-02-19 16:39] nisanth074 commented on #118
To support groups, `invoker.ini` can look something like

[code]

To stop both postgres and redis, use

[code]

[2015-02-19 16:48] iffyuva commented on #118
is it a good idea to add attribute "group" here instead of playing with alias of process?

eg:
[code]
we can save some parsing headaches i guess.

[2015-02-19 19:18] gnufied commented on #118
Yeah, I suppose using separate group names is better.  Lets go with that.

[2015-02-23 16:53] iffyuva opened #120 "docs: move github ribbon to more prominent location"
![gh](https://cloud.githubusercontent.com/assets/1108398/6332313/838c6fca-bbaa-11e4-943a-0df3c1ab1092.png)

extensions often pop up at bottom left corner. i think its better to move this ribbon out of bottom left corner.

[2015-02-25 01:20] dlee opened #121 "Add support for proxying based on URI path"
It would be useful if invoker proxied based on URI path as well as domain.

For example:
`app.dev` => app
`app.dev/search` => search
`app.dev/chat` => chat

[2015-02-25 01:23] dlee opened #122 "Automatically start processes when you visit a URL"
It would be nice if invoker could automatically start processes when a URL is visited, much like how pow automatically starts rails applications.

[2015-02-25 20:38] simonc commented on #99
1000 times :+1:
That's the number 1 reason I'm looking for a new alternative :(

[2015-02-26 23:04] dlee commented on #121
The ini could look like this:
[code]

[2015-02-27 01:43] gnufied commented on #121
Hmm, it is def. doable. @dlee if you can open a PR I will be happy to merge. otherwise it is bit lower in my own feature list priority for next release.

[2015-02-27 11:34] dlee commented on #121
Fixed by https://github.com/code-mancers/invoker/pull/123

[2015-02-27 11:34] #121 closed

[2015-02-27 12:12] dlee opened #124 "Shared env vars for all apps launched by invoker"
It's common practice to share config files or secrets via env vars.

It would be nice to be able to set env vars that would be automatically sent to all commands launched by invoker.

[2015-02-27 12:27] gnufied commented on #124
Invoker supports per project `.env` loading although there is no global environment variable loading.

[2015-03-02 08:52] dlee opened #125 "concurrency in invoker proxy"
When an app behind the invoker proxy makes an API request to another app behind the invoker proxy, it times out. My guess is that it's because the invoker proxy balancer only supports one concurrent background connection. Is that correct?

If so, invoker should support multiple concurrent connections for its proxy balancer.

[2015-03-02 10:05] dlee commented on #125
My guess is that http-parser-lite is not EM-friendly, and is causing EM event handlers to block on long requests (i.e. requests that reach out to other APIs).

[2015-03-02 11:50] dlee commented on #125
Nevermind... this is working.

[2015-03-02 11:50] #125 closed

[2015-03-02 14:06] madsheep commented on #2
@gnufied any updates?

[2015-03-26 11:11] gnufied opened #127 "Support a global configuration file"
As per ideas proposed in the PR - https://github.com/code-mancers/invoker/pull/126

[2015-03-26 14:52] #127 closed

[2015-03-26 14:55] gnufied commented on #124
@dlee can you elaborate more? As I said already - Invoker supports `.env` loading.

[2015-03-26 14:55] #124 closed

[2015-03-26 14:56] gnufied commented on #122
So unlike `pow` invoker manages processes without urls as well (such as sidekiq etc). So do we propose this feature should only work for processes which are http/s in nature?

[2015-03-26 14:57] gnufied commented on #91
This feature is already documented well enough. If it can be improved, please open a documentation pull request against `gh-pages` branch.

[2015-03-26 14:57] #91 closed

[2015-03-26 15:01] iffyuva commented on #122
what if invoker itself is not running? in this case invoker won't be listening on port 80, and it can't start corresponding rails app if foo.dev is visited.

this feature makes more sense if invoker is running as a daemon.

[2015-03-26 15:04] gnufied commented on #122
It also makes less Invoker less resource hungry I guess, because it won't be starting the processes until they are accessed. This is partly doable through, `disable_autorun` flag though.

[2015-03-26 17:15] gnufied commented on #88
Fixed with https://github.com/code-mancers/invoker/commit/e1a0f3ff3ff079c0e293de0a7090955efac06ed5

[2015-03-26 17:15] #88 closed

[2015-03-26 17:17] gnufied commented on #67
For now we have added support for flag `disable_autorun=true` in `.ini` file to disable autostarting of processes. We will look into adding support for autostarting processes via url as part of https://github.com/code-mancers/invoker/issues/122

[2015-03-26 17:17] #67 closed

[2015-03-26 18:09] dlee commented on #124
Hi, sorry I missed this.

By env var, I meant shell environment variable, so that if you run:
[code]
Then you get access to $ABC, $XYZ, and $CONFIG_FILE from within invoker.

[2015-03-26 18:09] dlee commented on #124
BTW, it seems like invoker already supports this, so I'm not sure why I filed this in the first place. Sorry for the confusion.

[2015-03-26 19:41] gnufied commented on #120
Fixed by https://github.com/code-mancers/invoker/commit/0a7bba45a96801bcc093cb9f4f3a279d5816548b

[2015-03-26 19:41] #120 closed

[2015-03-26 19:44] #36 closed

[2015-03-26 19:46] gnufied commented on #54
I briefly investigated this and I do not think this is possible without asking user to run invoker as root, each time he has such a process to run.

There are all sort of permissions problems do deal with as well, so I am going to close this.

[2015-03-26 19:46] #54 closed

[2015-03-27 01:10] gnufied commented on #99
We can do bunch of things:

1. One of the things we can do is - we can automatically "merge" any second instance of Invoker running with first one. To put it more simply, lets say user has already started Invoker once and whenever he attempts a second instance via `invoker start Procfile.another` the file is read and instructions are sent to Master Invoker process to start these additional process

[2015-03-27 14:35] orangewolf commented on #99
@gnufied I'd vote heavily for option 1. Especially combined with invokers tail option.

I think that being able to start and stop invoker sets at will would be pretty powerful. I'm often running 2-3 Rails projects at a time, and on any given day I start and stop about 7 different projects as a fix bugs and clear tickets. There is often overlap as I occasionally have to stop work on a larger featur

[2015-03-27 15:35] iffyuva commented on #99
crazy idea: how about running invoker as daemon, and whenever user does `invoker start <invokerfile.ini>`, daemon parsers <invoerfile.ini> and initializes those processes. its similar to option1 though.

[2015-03-27 15:52] nisanth074 commented on #99
@iffyuva https://github.com/kostya/eye does exactly that
[code]

@gnufied I vote for option 1

[2015-03-27 20:22] gnufied commented on #99
There is one problem with option#1 i.e - there will not be an easy way to kill processes started by second run of `invoker start foo.ini` unless we start using process groups for processes started by subsequent invocations.

This is also related to what happens when there are two "web" processes in two different ini/Procfile? We will have to kinda refer second Procfile/ini "web" process by name "g

[2015-03-27 20:26] iffyuva commented on #99
i think its a fair tradeoff, ie not having a graceful way to kill process started by invoker on second run. i feel `group_name` will be overkill. for now, we should assume that process names will be unique, and throw errors if there is a conflict.

[2015-04-15 05:34] swanandp commented on #109
:+1: This would be cool.

[2015-04-16 18:27] ysimonson opened #130 "NoMethodError when making request to an invoker-proxied task"
In my invoker.ini, I have an HTTP server. When making requests to it via the browser, everything works fine. When making requests via a node.js HTTP client, this happens:

    /usr/local/lib/ruby/gems/2.2.0/gems/invoker-1.3.2/lib/invoker/power/balancer.rb:105:in `extract_host_from_domain': undefined method `match' for nil:NilClass (NoMethodError)
        from /usr/local/lib/ruby/gems/2.2.0/gems/in

[2015-04-16 19:45] ysimonson commented on #130
This error happens when no `Host` header is set, due to this line: https://github.com/code-mancers/invoker/blob/master/lib/invoker/power/balancer.rb#L67

[2015-04-16 19:50] ysimonson commented on #130
That line was different from my installed version of invoker (the latest from rubygems, 1.3.2), so I tried re-installing invoker from the repo and got this error instead:

    /usr/local/lib/ruby/gems/2.2.0/gems/invoker-1.3.2/lib/invoker/power/url_rewriter.rb:21:in `block in extract_host_from_domain': undefined method `match' for nil:NilClass (NoMethodError)
        from /usr/local/lib/ruby/gems/2

[2015-04-17 02:03] gnufied commented on #130
Invoker can't work if `Host` header field is not present in the request. Here is from http/1.1 specs:

[code]

http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

In other words, I think the node.js http client should be fixed to include `Host` header. Invoker works bit like Apache Virtual hosts and absence of `Host` field in headers would be greatly confusing to it.

[2015-04-17 02:04] gnufied commented on #130
On the flipside, I think will update Invoker to return `400` Bad request if Host field is missing. Thanks for the bug report!

[2015-04-17 11:48] ysimonson commented on #130
Great, thanks! The HTTP spec does allow for Host headers with an empty string value. I think that's what the request library is doing.

If the Host header is not absolutely required to resolve the backend, it might make sense to handle empty string values without a 400 response. But it seems like it is.

[2015-04-17 12:07] gnufied commented on #130
Fixed by #131

[2015-04-17 12:07] #130 closed

[2015-04-17 12:10] gnufied commented on #130
It would be hard to return non-400 response if Host header is empty from requests, because then Invoker can't decide which backend Invoker should proxy the request to. Theoretically, Invoker can be made to work via other ways, But I as per HTTP specs it seems right thing to do is - always include a valid `Host` field in requests. The empty `Host` field is really a special case and kinda last resor

[2015-04-17 12:16] ysimonson commented on #130
Yep, makes sense and that's what I'm doing for my use case. Just want to prevent others from getting caught up on this issue in the future. Thanks again.

[2015-05-05 10:36] simonc opened #133 "Ruby 2.2.0: private method `load' called for Psych:Module"
Hi, I'm not able to start invoker, I get the following trace:

[code]

When starting invoker with Ruby 2.2.1 it works properly. Maybe I missed something, a gem version or something else but I can't figure it out.

Thanks! :)

[2015-05-05 15:02] simonc opened #134 "Specifying dependencies"
Hi,

Is there any way to specify dependencies between processes?
An example would be running _zookeeper_ before _kafka_ or thing like that :)

Thanks!

[2015-05-14 15:33] ysimonson opened #135 "Stdout not always being captured"
The stdout of child processes isn't always captured (namely, for node.js processes.) The result is that not all stdout is wrapped with the colorful logging.

On the node.js side, I've tried to use both `console.log` and `process.stdout.write`. Both have this effect.

It appears that `Reactor::Reader.process_read` isn't even getting the data. Any idea what would cause this?

[2015-05-21 20:13] frankstratton opened #136 "option to send SIGKILL?"
I have a process that doesn't always respond to the SIGTERM signal and remains running; however invoker shuts down and loses track of this PID leaving an orphaned process around;  I've used foreman/forego in the past and it tries to send a SIGTERM, waits a while and then issues SIGKILL  on any remaining processes before stopping which cleans up everything correctly.  Is it possible to do the same

[2015-05-27 05:10] swanandp opened #137 "Multiple invoker instances"
Currently, it doesn't seem possible to run multiple invoker instances.

First project (all well here):

[code]

And then in the second project:

[code]

[2015-05-27 05:18] swanandp commented on #137
I guess it's designed to work with a single `ini` file? In that case, it'll be great if there is a "group" support. To logically group processes of a project together.

[code]

And then,

`invoker start invoker.ini`
`invoker add filing` # filing can be a group or a process or group
`invoker add-group filing` # make it explicit to add / remove groups

[2015-05-27 05:54] iffyuva commented on #137
@swanandp  support for groups is on the way: https://github.com/code-mancers/invoker/issues/118

[2015-05-27 10:14] swanandp commented on #137
Cool.

[2015-05-27 10:14] #137 closed

[2015-06-09 11:14] halilim commented on #13
Unfortunately, yeah. Related [documentation](https://github.com/rails/spring#rails-console-rails-generate-rails-runner):

[2015-06-09 11:33] iffyuva commented on #13
@swrobel @halilim thanks for the update.
@gnufied i think this issue can be closed.

[2015-06-15 09:50] iffyuva commented on #13
closing this one. lets revisit if spring supports `rails server`.

[2015-06-15 09:50] #13 closed

[2015-06-18 21:11] nisanth074 commented on #118
Opened a pull here https://github.com/code-mancers/invoker/pull/138

[2015-06-18 21:55] nisanth074 commented on #136
We can add a `stop_strategy` option (inspired by a similar option in https://github.com/kostya/eye)
[code]

@iffyuva Any ideas?

[2015-06-20 03:42] chrismanderson opened #139 "Invoker domains do not work on 10.11 El Capitan"
Seems like Invoker `1.3.2` domains do not work in 10.11 - ran invoker setup, and things seemed like they were set up properly, but cannot hit any domain with the .dev extension. I can hit the sites directly by IP.

Obviously, 10.11 is early beta, just posting this as a heads up.

[2015-07-13 20:27] frankstratton commented on #136
Something like that would be great for my use case!

[2015-07-21 09:43] kgrz opened #142 "rinetd creating huge log files"
I've installed invoker on a remote ubuntu Digital ocean server on 15th July 2015. Ran the `setup` for the gem and left it as it is. When I checked on 21st July 2015, the instance reported that it was out of disk space (~20GB droplet). Turns out that the culprit is a `rinet` related log file that got nearly 15GB. Note that I haven't started invoker on a project at any point in these 7 days.

This p

[2015-07-23 09:50] yevgenko commented on #122
:+1:  and would be nice to have processes automatically terminated after 15 minutes of inactivity

p.s.
another POW user here, lol

[2015-07-23 10:00] yevgenko commented on #122
yes, thats mainly for the web processes, however stopping entire App (as per Procfile) still makes sense as well

[2015-07-23 10:03] yevgenko commented on #122
on other hands, I believe, processes could be monitored and stopped by the external process manager (script) once auto-start by URL is ready

[2015-08-10 09:11] PragTob opened #143 "Support LinuxMint"
It'd be great if LinuxMint were supported, it is one of the most popular distros. I get `Your selected distro is not supported by Invoker (RuntimeError)`.

As Linux Mint is based on Ubuntu (14.04 currently) it should be easy and mainly just do what Ubuntu does.

I did a temporary local fix with:

[code]

which seemed to work fine :)

[2015-08-10 09:49] PragTob commented on #87
Same problem here unfortunately :(

[2015-08-10 09:55] iffyuva commented on #143
hi @PragTob would you like to open a PR? will be more than happy to merge it :)

[2015-08-10 09:57] iffyuva commented on #87
i will re-check this issue on ubuntu, and update this thread, thanks.

[2015-08-10 12:43] PragTob commented on #87
@iffyuva sorry scratch me from that list, I thought I was affected, turns out I had a subtle typo in the .dev URL. Error reporting may be improved tehre but definitely my fault.

[2015-08-10 16:38] PragTob commented on #143
Sure thing :) Will do.

[2015-08-10 18:19] #143 closed

[2015-08-16 19:16] gnufied commented on #139
We will look into this as soon as we near El Capitan release. Thank you for alerting us.

[2015-08-30 09:48] simonc commented on #133
Ok, so for future readers. This issue happens when you have several versions of _psych_ installed.
Simply run `gem uninstall psych` an don't reinstall it, it should fix the problem.

[2015-08-30 09:48] #133 closed

[2015-08-30 12:04] iffyuva commented on #133
@simonc thanks for updating this issue with solution :)

[2015-10-04 16:58] iffyuva commented on #139
@chrismanderson i upgraded to 10.11 from 10.10, and invoker works on 10.11. can you please explain the issue that you are facing or help me in reproducing this bug? thanks.

[2015-10-10 15:53] R167 commented on #139
I have been getting similar problems:
`/Users/wmd/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/invoker-1.3.2/lib/invoker/power/powerup.rb:12: warning: epoll is not supported on this platform`
Have tried multiple reinstalls.

[2015-10-11 15:00] iffyuva commented on #139
i doubt if this issue is related to eventmachine again. what i have observed is: when invoker tries to connect to any of backend using em-proxy, its throwing `Errno::ECONNREFUSED` error. investigating more into this.

[2015-10-11 20:13] #65 closed

[2015-10-11 20:30] nisanth074 commented on #135
@ysimonson Is this still happening? If so, I'll try replicating the issue on my machine.

[2015-10-12 19:12] ysimonson commented on #135
Yes, still happening with the newest stable version of invoker

[2015-10-14 14:52] gnufied commented on #101
This has become a priority now because `.dev` is a real TLD down and hence conflicts with other domains. We should get configurable TLD done.

[2015-10-14 14:52] gnufied opened #152 "Explore alternative of rinetd"
On few platforms rinetd is out of support. I think it is no longer in AUR repositiores of Arch Linux.

[2015-10-15 00:45] nisanth074 commented on #101
@gnufied Something like?

[code]

[2015-10-15 00:54] gnufied commented on #101
@nisanth074 I don't think that will work.

The TLD setup has to be part of `invoker setup` command and written once to invoker configuration file. the `.ini` file you shown is user written per project config file.

So something like `invoker setup --tld local`

[2015-10-17 12:51] nisanth074 commented on #101
Working on a pull request here https://github.com/code-mancers/invoker/pull/153

[2015-10-19 04:21] iffyuva opened #154 "ipv6 support"
looks like eventmachine doesn't support ipv6, when i tried invoker with ipv6 (puma in particular), i don't see invoker proxying responses from server. any ideas?

[2015-10-19 04:22] iffyuva commented on #139
@chrismanderson @R167 your issue might be related to #154 please make sure that your servers are not running in ipv6 mode.

to test this on osx, please run this command:

[code]

and make sure that type is IPv4. thanks to @emilsoman for pointing this out :)

[2015-10-19 04:23] iffyuva commented on #139
im closing this issue, please re-open this issue if the problem still persists.

[2015-10-19 04:23] #139 closed

[2015-10-28 15:00] swanandp opened #155 "Non-STDOUT logs?"
Is there a way to tell invoker to watch the log for a process in a certain location?

Like, say:

[code]

[2015-10-29 04:16] nisanth074 commented on #155
@swanandp Thanks for the feature suggestion. There isn't a builtin feature to watch file logs yet.

It might be possible to do this currently with the `tail` command. In your invoker.ini, try adding
[code]

[2015-10-29 04:25] gnufied commented on #155
yeah an external command to tail a log would work. Not sure if you would want that though. :P

[2015-10-29 04:43] nisanth074 commented on #155
@gnufied Yea. Its more like a temporary workaround :)

Any thoughts on how the configuration should look like? May be something like
[code]
or
[code]

[2015-10-29 04:50] gnufied commented on #155
I am not sure about having this as a builtin feature of Invoker. Lately, I have come to realization that most applications should write to `STDOUT` by default.

It has several benefits. such as:
1. such applications can run inside containers easily.
2. external tools like scribe or logrotate can easily do something with those logs. In other words, any external tool can easily do something with you

[2015-10-29 05:08] #155 closed

[2015-10-29 05:11] gnufied commented on #99
I am not too keen in supporting this feature, but if anyone wants to try a pull request which is not broken - we can look into merging it.

[2015-10-29 07:16] swanandp commented on #155
Alright.

[2015-11-09 11:53] swanandp commented on #136
I think this should be added to the CLI, i.e. `invoker sig sidekiq -USR1`

[2015-11-09 19:05] swanandp opened #157 "Invoker does not pass on SIGINT to child processes"
Sending `SIGINT` ( `Ctrl+C`ing ) invoker should kill all the processes started by invoker, however this isn't so right now.

Best example for this is `sidekiq`; if you have a `sidekiq` process along with say, `rails` and you `SIGINT` invoker, then a `sidekiq` zombie process lingers on.  To cleanly exit all processes, `invoker remove sidekiq` is needed before sending `SIGINT` to invoker.

[2015-11-13 18:50] lowski commented on #89
I'd love to have this feature - I work with api + mobile app on a daily basis and for now the only way to access the application from mobile device is to explicitly provide port in the url (23401- http). Any workarounds (even manual ones)? I've looked for an ability to forward port 80 -> x but as it has been said above it works only for loopback interface.

Btw. How `pow` is able to make it work?

[2015-11-19 20:23] swrobel commented on #107
@gnufied @iffyuva @nisanth074 any suggestions for @mattscilipoti here?

[2016-01-12 15:23] ristovskiv commented on #87
Is there any update on this. I'm having the same issue on Ubuntu 14.04.3 with RVM and zsh.

[2016-01-16 06:05] datashaman commented on #142
For those running linux and have rinetd installed, watch out. It has recently become buggy. 100% CPU usage and massive logging of an error. I found a 60G log file today. Debian have patched it, but it will take a while for that to filter down.

http://osdir.com/ml/general/2016-01/msg17015.html

[2016-01-16 22:23] gnufied commented on #142
I have pushed a fix that replaces rinetd with socat - https://github.com/code-mancers/invoker/pull/160

If you want, you can try pulling this branch and building and installing a gem yourself. Of course you will have to remove rinted first and most likely all invoker setup files too.

[2016-01-20 12:27] gnufied commented on #152
Fixed with https://github.com/code-mancers/invoker/pull/160

[2016-01-20 12:27] #152 closed

[2016-01-20 12:28] gnufied commented on #142
Fixed with #160

[2016-01-20 12:28] #142 closed

[2016-01-20 12:29] gnufied commented on #87
Can anyone try this with latest master and let me know? However, latest master will not work on Ubuntu 14.04 because now Invoker only supports Linux distributions that use systemd.

[2016-01-20 12:31] gnufied commented on #157
This is really weird one. I have pushed a fix that uses same code when you run `invoker remove sidekiq` vs when you stop invoker by pressing Control-C. If you see any errors logged in console when you press `ctrl-c` can you paste it here @swanandp ?

Cheers

[2016-01-20 12:32] gnufied commented on #157
https://github.com/code-mancers/invoker/commit/ea59cbdc4c1258cec7d1778ced6f7c0d9e387872 <-- fix btw. You may have to pull and build gem locally though

[2016-01-20 12:52] ristovskiv commented on #87
I've found what caused my issue. It was related to [prax](https://github.com/ysbaddaden/prax) and his firewall iptables nat rules. If someone has the same issue just do
[code]
to preview the rules. If there are any redirections on ports 80(http) and 443(https) then do this command to clean your rules
[code]
After this you could use invoker http .dev domains.

Anyway @gnufied  I'm using 1.4.1 versi

[2016-01-20 22:55] gnufied commented on #136
It already is implemented and has been there since very beginning:

[code]

Which will remove sidekiq with signal 9. However when you will Invoker and it quits, all processes are attempted to be killed via TERM signal.

[2016-01-20 22:56] gnufied commented on #135
Can you post a sample application that reproduces this problem?

[2016-01-20 22:56] gnufied commented on #110
Fixed in master. @swrobel  if you don't mind building a invoker gem from master perhaps worth giving a try.

[2016-01-20 22:56] #110 closed

[2016-01-20 22:57] gnufied commented on #63
No activity. Likely we are not going to implement this.

[2016-01-20 22:57] #63 closed

[2016-01-20 22:58] gnufied commented on #97
No activity on this. closing.

[2016-01-20 22:58] #97 closed

[2016-01-20 22:59] gnufied commented on #99
No activity from long time.

[2016-01-20 22:59] #99 closed

[2016-01-21 06:33] swrobel commented on #110
:clap: works perfectly! :bomb:

[2016-01-21 06:48] iffyuva commented on #110
@swrobel worth writing steps which you followed, and how you tested it. might be helpful for others :)

[2016-01-21 06:50] swrobel commented on #110
@iffyuva I'm absolutely planning on writing it up. Right now it's forks of rack-livereload and guard-livereload hacked together to make it work, but when I have a formula that works well, I'll post. Thanks again for adding this feature!

[2016-01-21 07:57] swanandp commented on #157
Thanks for the fix! No errors on the terminal that I can see, by the way.

[2016-01-21 10:21] gnufied commented on #157
So the fix does not fixes the problem?

[2016-02-04 10:23] homeworkprod commented on #101
FTR, while accessing Invoker-provided `.dev` domains in Firefox works fine for me, Chromium 48.0 blocks it, stating:

[2016-02-16 14:49] ProGM opened #162 "Invoker not redirecting to port 80 after installing Network Link Conditioner on Mac OS"
I installed Network Link Conditioner from Xcode, to test a slow internet connection on my mac.

http://stackoverflow.com/questions/9659382/installing-apples-network-link-conditioner-tool

After installing it, all my tld requests to port 80 are not working, and I have to address to `mydomain.dev:3000`.
I think that network link conditioner did some mess with my firewall configurations, but I checke

[2016-03-31 21:10] sbly opened #165 "Add ability to specify multiple process on command line"
Add ability to specify multiple processes for the `add`, `reload`, `remove` commands.

[2016-04-07 18:21] etherbob commented on #2
pry-remote doesn't work with rails 4.2.5.2, ruby 2.3 and invoker 1.4.1

probably not invoker's issue per-say but does make it significantly less useful for development.

`img : [pry-remote] Waiting for client on druby://127.0.0.1:9876
img : [pry-remote] Client received, starting remote session
img : [pry-remote] Remote session terminated
img : [pry-remote] Ensure stop service
img :
img : Frame num

[2016-04-13 17:10] etherbob commented on #88
This no longer works with newer ruby/rails/invoker

One work around is to run rails separately and then use invoker add_http _appname_ _port_

It'd be nice to have an option to somehow do this from the invoker config, but I'm not sure

[2016-04-26 19:15] parisyee opened #166 "Release new version of gem"
Hi,

Would it be possible to cut a new release of the gem? We're especially interested in the updated [process manager](https://github.com/code-mancers/invoker/commit/ea59cbdc4c1258cec7d1778ced6f7c0d9e387872).

cc/ @rupurt

[2016-05-17 20:24] etherbob commented on #162
Running into this same issue after using link conditioner (which was already installed). Noticed that invokers firewall rules were unloaded

launchctl unload -w /Library/LaunchDaemons/com.codemancers.invoker.firewall.plist
/Library/LaunchDaemons/com.codemancers.invoker.firewall.plist: Could not find specified service

but reloading them didn't help

pinging the <appname>.dev url works fine, but cu

[2016-05-20 21:35] etherbob commented on #162
Of note rebooting after turning off conditioner (but leaving it installed) seems to restore everything.

[2016-08-07 03:45] gnufied commented on #166
Can anyone try v1.5.0 which I tagged? I am thinking of release this as new version of the gem. Let me know, if you run into any problems.

Documentation needs to be updated with new features before the release as well, so I am trying to get that done before final release.

[2016-08-07 04:14] gnufied opened #171 "Github pages only support kramdown markdown processor"
We are getting warnings from github pages about using unsupported markdown processor. Apparently we need to switch from redcarpet to krampdown.

[2016-08-07 04:50] iffyuva commented on #166
ive been using #1b05c71 for sometime, no issues so far!

[2016-08-07 12:11] gnufied commented on #166
Cool. A new version has been published.

[2016-08-07 12:11] #166 closed

[2016-08-07 12:11] #157 closed

[2016-08-08 15:57] swanandp commented on #157
So yes, upgrading to latest version did solve this issue. I had actually stopped using Invoker for a period of time because of this problem. Thanks for solving!

[2016-08-08 15:58] gnufied commented on #157
Cheers. New version 1.5.1 is out - let us know if you find anything else. thanks @swanandp  :D

[2016-08-08 16:29] swanandp commented on #136
@gnufied I was thinking, instead of just 9, invoker should act as a shim for process commands, e..g it would be useful to send `SIGTTIN` to a process, and not remove it.

[2016-08-17 02:59] swrobel opened #172 "Add a changelog"
It would be nice to have one, preferably in markdown format. Thanks for the gem!

http://keepachangelog.com/

[2016-09-04 03:20] gnufied commented on #172
That is a good idea. I will make sure this happens. :-)

[2016-10-19 18:11] nisanth074 opened #175 "Test webhook events"
Test webhook events

--
Test signature

 

https://muziboodemo.supportbee.com/tickets/10211955

[2016-10-19 18:11] gnufied commented on #175
Is this intended?

[2016-10-19 20:12] nisanth074 opened #176 "Testing auto responder"
Hi there

I am testing autoresponder

https://muziboodemo.supportbee.com/tickets/10150448

[2016-10-19 20:27] gnufied commented on #176
@nisanth074 why are you opening these issues in invoker repo?

[2016-10-19 20:27] #176 closed

[2016-10-19 20:27] #175 closed

[2016-10-23 13:21] timotei opened #177 "Heroku Procfile not spawning the rails app properly (incorrect directory?)"
Hi,

I have a rails app, using it via the `testapp.dev` domain and I previously used `invoker.ini` to run it:

[code]

I have recently migrated to `Procfile` to use it with heroku, and I have the following `Procfile`:

[code]

However, now, the app is not served anymore apparently, and I get the following error when I'm visiting the top-level domain `testapp.dev`. However, accessing the app via it

[2016-11-04 16:29] nisanth074 opened #178 "Ticket with CCs"
Ticket with CCs

https://muziboodemo.supportbee.com/tickets/10353222

[2016-11-04 17:19] iffyuva commented on #178
hey @nisanth074 closing this issue. non relevant.

[2016-11-04 17:19] #178 closed

[2016-11-04 17:20] emilsoman commented on #178
What was this about?

[2017-01-12 17:01] ysimonson commented on #135
Sorry, I wish I could, but we moved off of invoker - so unable to reproduce at this point. Will close.

[2017-01-12 17:01] #135 closed

[2017-01-18 15:41] nisanth074 opened #181 "Hi there"
This is test

https://muziboodemo.supportbee.com/tickets/10971764

[2017-01-18 16:02] iffyuva commented on #181
@nisanth074 please stop doing this. its not funny anymore.

[2017-01-18 16:02] #181 closed

[2017-01-21 19:59] mrfoto opened #182 "Incompatible with Ruby 2.4"
Maybe I'm doing something wrong but I've tried everything I thought of and it's still the exact same error. I've reinstalled ruby, I've reinstalled all my gems, but no matter what I do, this is what I get:
[code]

I get this by running `invoker start` and then opening `http://joinrun.dev/ and my invoker.ini is very simple:
[code]

The app runs just fine if I run it without invoker.

[2017-01-21 20:26] gnufied commented on #182
Is there by any chance you have multiple ruby environments present and ruby version `X` is trying to load compiled extensions for some other version? I tried this on a fresh ubuntu box I built via vagrant and I did not have any trouble starting invoker.

@iffyuva can you verify as well mate?

[2017-01-21 21:37] mrfoto commented on #182
I have multiple ruby environments and I manage them with `chruby`. The gems are installed in the correct path `~/.gem/ruby/2.4.0/` 😕

[2017-01-21 21:40] mrfoto commented on #182
Huh, I moved all the old rubies out of `.rubies` folder and it started to work. Maybe it's a `chruby` issue, I never even thought that could be it.

Sorry, and thank you!

[2017-01-21 21:40] #182 closed

[2017-01-22 02:57] gnufied commented on #182
No problem.

[2017-01-22 04:08] iffyuva commented on #182
@gnufied or @nisanth074 please cut a release as it has been quite sometime. Thanks.

[2017-03-04 10:29] ProGM opened #184 "Process with command powerup_manager exited with status 1"
I'm on a macOS El Capitan with ruby 2.3.3 (rbenv). After upgrading some dependences in my project, I'm having a strange issue when running `invoker`.

Even if the processes are spawned, I got:
`Process with command powerup_manager exited with status 1`

And the DNS feature is not working. I need to load `localhost:myport` instead of `myproject.dev`

Here's the stack trace:
[code]

[2017-04-04 07:39] nisanth074 commented on #181
@iffyuva Just noticed that I've been opening these dummy issues for a while. Sorry about this.

I must have accidentally opened issues here instead of our own repo while testing our Github integration. Will see to it that this won't happen again.

Sorry for the trouble.

[2017-04-09 15:27] ioquatix opened #185 "RubyDNS 2.0.0 available"
This update is a big improvement to stability, if you have time to try it out and report any issues that would be great.

It might also assist with the IPv6 issue, since that wasn't previously supported by event machine which is no longer used.

[2017-04-09 16:47] iffyuva commented on #185
I will try it out locally next week and let you know @ioquatix . Thanks for new release 👍

[2017-04-17 06:56] iffyuva commented on #185
hi @ioquatix , I tried new rc1 release gem, and am facing this issue

[code]

Any idea whats the issue? Thanks.

[2017-04-17 06:59] ioquatix commented on #185
Do you mind sharing the code you are using to setup RubyDNS?

[2017-04-17 07:00] iffyuva commented on #185
Its here https://github.com/code-mancers/invoker/blob/425a5d71d/lib/invoker/power/dns.rb @ioquatix

[2017-04-17 07:04] ioquatix commented on #185
The problem is here: https://github.com/code-mancers/invoker/blob/425a5d71dd9fc19d7119d9886f6715d6b4c72305/lib/invoker/power/powerup.rb#L17

You need to remove `listen: DNS.server_ports`. You can either add it to the `new` or directly set it up in `DNS#initialize`.

Additionally, it won't work inside EventMachine, but it will work absolutely fine on it's own thread, and will be just as efficient s

[2017-04-17 07:05] ioquatix commented on #185
See https://github.com/socketry/async-dns/blob/master/lib/async/dns/server.rb#L39 for how to call `super`.

[2017-04-17 07:07] iffyuva commented on #185
Thanks for pointers @ioquatix . I don't know much internals of invoker. I will figure out when I find time.

[2017-05-29 05:19] kgrz opened #189 "Migrate to celluloid?"
Looks like one of the dependencies of the gem has moved away from EventMachine in favour of Celluloid. Should we do that for the main gem as well?

[2017-06-04 23:06] swrobel opened #190 "Colorized output broken in 1.5.3"
I believe this commit may be the culprit: https://github.com/code-mancers/invoker/commit/1ab0af59365b2bbebee60120bb30543b8a433c23

[2017-06-04 23:07] swrobel commented on #172
Any update? There's been a release since this discussion.

[2017-06-05 14:45] gnufied commented on #190
Yeah  - I disabled colors in logs grabbed in Invoker log file. That was kind of intentional because, ANSI color escape sequences in log file cause unnecessary noise.  We are still printing colored output to terminal though.

[2017-06-05 15:02] gnufied commented on #172
Added - https://github.com/code-mancers/invoker/pull/191

sorry that 1.5.3 went without a changelog but hopefully, we can keep this straight going ahead.

[2017-06-05 17:03] swrobel commented on #190
I am not seeing color in my terminal output. I reverted back to 1.5.1 and color is working again.

[2017-06-05 22:06] gnufied commented on #190
Agreed. my bad!

[2017-06-14 12:26] #172 closed

[2017-07-13 09:12] gotoAndBliss commented on #177
Any luck @timotei ?

[2017-07-13 09:19] gotoAndBliss opened #194 "Has anyone recently been able to get Invoker to work? Or is this defunct?"
I'm migrating from POW. I did..

[code]

My `invoker.ini` says..

[code]

I run the app with .. `invoker start invoker.ini`

Looks like it's booting up!

[code]
But... `curl whisper.dev` -> Operation Timeout.
Strange. `https://0.0.0.0:9000 -> This site can’t provide a secure connection 0.0.0.0 sent an invalid response.
Weird. `http://0.0.0.0:9000/` -> Boots up my homepage without SSL support. So a

[2017-07-13 10:13] gnufied commented on #194
You can't retrieve `https://0.0.0.0:9000` because obviously thin doesn't do https. So that part is correct.

However `whisper.dev` should work. Which OS is this? Since you said Pow, I am assuming this is OSX. Also which version of OSX?

@iffyuva @kgrz can you double check the behaviour? I don't use OSX anymore..

[2017-07-13 10:14] gotoAndBliss commented on #194
OSX 10.12.5 (16F73) - Sierra

Good point about Thin. I didn't think of that.

[2017-07-13 10:15] gnufied commented on #177
Since you migrated to `Procfile` your app label is called `web`. So you need to access the application on `http://web.dev`.  That should work.

[2017-07-13 10:23] kgrz opened #195 "Make uninstall command more safer"
If I delete the `~/.invoker/config` file, running `sudo invoker uninstall` will fail and abort. We should do that in a safer manner, by first checking if the file is present, and then proceed to remove it.

[2017-07-13 10:29] gotoAndBliss commented on #194
I updated my command as so

[code]
Seems to try and boot an SSL version, but alas, no signed SSL so Chrome displays its warning page, and I can only access it by going directly to `0.0.0.0:3000` . No subdomains work. No whisper.dev.

[2017-07-13 10:42] kgrz commented on #194
@gotoAndBliss The CORS errors are expected when you request AJAX resources from a different domain (in this case, `whisper.dev`), depending on the server IP and port. Say if you have your API server proxied to `whisper.dev/api`, you might not get any CORS errors.

I'm trying to understand if this will be a problem of invoker or not. Up till this point, it doesn't seem so.

[2017-07-13 10:44] gotoAndBliss commented on #194
@kgrz Ha, I'm six hours deep into this. I would do anything to even have it boot under `whisper.dev` . It seems to only work as `http://0.0.0.0:9000`, and then the rest of the site is inaccessible because it's all subdomains that need a `whisper.dev` domain.

[2017-07-13 10:47] kgrz commented on #194
Hmm, so two problems here. You can't access the page on `whisper.dev`. This either could mean that the page shows a "invoker can't find a process" error, or that it's making a request to your rails server, but all the JS AJAX calls are failing for some reason. What among these two best describes the issue you're facing?

[2017-07-13 10:51] kgrz commented on #194
Also, when you mentioned this:

Did you click on the "ADVANCED" link on that warning, and hit "proceed"? I'm trying to map the exact issue you're facing.

[2017-07-13 10:57] gotoAndBliss commented on #194
Thank you @kgrz for your attention.

I'm using this as my config now

[code]

Which boots up as so

[code]

If I go to `whisper.dev` or `https://whisper.dev` , I see in Chrome..

[code]

I do not seem to be getting any invoker errors. The Invoker server does not get hit when I go to `whisper.dev` .

If I run `scutil --dns`

I see no `.dev` extensions so that tells me that maybe Invoker is not crea

[2017-07-13 11:11] iffyuva commented on #194
@gotoAndBliss not having `.dev` resolver explains it. Im successfully using invoker with https and subdomain support. I need following info:

Do you have these files present? If so, what are their contents?
- `/etc/resolver/dev`
- `~/.invoker/config`
- `/Library/LaunchDaemons/com.codemancers.invoker.firewall.plist`

[2017-07-13 11:14] iffyuva commented on #194
@gotoAndBliss simply put, we need to validate the setup according to this file https://github.com/code-mancers/invoker/blob/master/lib/invoker/power/setup/osx_setup.rb Also, please turn off and turn on your wifi once. I wen't M$ Windowz way, and restarted my machine once just to be sure :D

[2017-07-13 11:16] gotoAndBliss commented on #194
@iffyuva

After reinstalling, rebooting a few times, I was able to get dev back. Equally, I am able to get to an Invoker page that states

[code]

And I can get that error page by accessing `whisper.dev`. Awesome!

`/etc/resolver/dev`
[code]

[code]

[code]

I went ahead and rebooted, and restarted WIFI as well. Same results.

Thanks @iffyuva

[2017-07-13 11:21] kgrz commented on #194
Ah, so now the invoker error page is showing up, but requests are not going through? One thing I can point out is that since the port number (9000) is non-80, the invoker.ini should have a `port` config that is set to 9000.

Before you do that, try accessing  `https://whisper.dev:9000`

[2017-07-13 11:23] iffyuva commented on #194
In addition to above check, please paste info of `invoker list`

[2017-07-13 11:30] gotoAndBliss commented on #194
@kgrz What do you mean by "non-80"? When I booted up thin on SSL it defaulted to 9000. So I started setting the port to that in the `invoker.ini`.

To keep things simple, but still produce the same current error ( going to `braidio.dev` produces the `Application Not Running` error ).. I removed the port call from `invoker.ini` so I have this now

[code]
Invoker.Ini ->

[code]

[2017-07-13 11:32] iffyuva commented on #194
@gotoAndBliss command is wrong! It should have that `-p $PORT` stuff. `port` cannot be empty in `invoker list`. If its empty, invoker doesn't know where to route the request.

[2017-07-13 11:34] gotoAndBliss commented on #194
@iffyuva Ah ok so I added the port like so

[code]
Then the 9000 gets added back

[code]

And the same error persists

[2017-07-13 11:36] iffyuva commented on #194
So, does `curl whisper.dev` work? Also, can you paste the error again? Probably screenshot.

[2017-07-13 11:39] gotoAndBliss commented on #194
Ah! A major breakthrough.

So `curl braidio.dev:9000` gets an empty reply from server. But if I use Chrome, it loads the site.

The *only* caveat at this point is that the SSL is not configured. But I'm guessing this is something I have to do myself via self-signing and Invoker doesn't do that part out-of-box?

[2017-07-13 11:40] kgrz commented on #194
Yes :)

[2017-07-13 11:41] gotoAndBliss commented on #194
THANK YOU EVERYONE!!

[2017-07-13 11:41] iffyuva commented on #194
You don't have to use `:9000`, invoker takes care of forwarding request from `braidio.dev` to port 9000.

[2017-07-13 11:41] gotoAndBliss commented on #194
@iffyuva  That doesn't seem to be true. `Application Not Found` occurs unless I specify a port.

[2017-07-13 11:43] kgrz commented on #194
You can either specify the command like `bundle exec rails -p $PORT` or you can set the `port` configuration in `invoker.ini`

[code]

[2017-07-13 11:45] gotoAndBliss commented on #194
@kgrz Yes I tried both those separately and together, but I must specify the port in the url or it will not find the application.

[2017-07-13 11:51] kgrz commented on #194
Hmm, that looks odd. The whole point of the project is to avoid users specifying a port in the URL :(

[2017-07-13 12:16] gnufied commented on #194
You don't need to specify ssl params with thin. If you want to use https then invoker can take care of that. The ssl connections will be terminated at Invoker and forwarded to thin.  i.e - drop the ssl params from thin and try.

[2017-07-13 12:18] gnufied commented on #194
So what I am saying is, removing `--ssl` from thin arguments and then if everything configured properly you should be able to access your website on `https://braidio.dev`

[2017-07-13 13:40] gotoAndBliss commented on #194
@gnufied Thanks for the advise. I dropped all the additional SSL info, and it still remains an insecure untrusted connection.

Perhaps my browser is caching this sort of certificate? Is there a way to refresh it.

Also, there's no way that just `https://braidio.dev` works. The port always has to be included. :(

[2017-07-13 13:53] gotoAndBliss commented on #194
Perhaps Invoker doesn't support `thin`?

[2017-07-14 11:13] gotoAndBliss commented on #87
Just wanted to add here that I'm experiencing similar issues on Sierra 10.12.5 . I understand this might be different because it's not Unix specific.

Can not access via `myapp.dev`, I must specify the port, `https://myapp.dev:9000`.

[code]

[code]
I'm curious if anyone knew any other things I could check out. I'd love to contribute to this repo.

[2017-07-14 11:22] gnufied commented on #194
Invoker doesn't care about web servers in general - so yeah it does support Thin.

I suspect, what is happening is - there is some left over pf filter rules by Pow and Invoker isn't the one that is receiving the request when you access your service using `https://braidio.dev`. So there is another filter rule which is directing traffic on port 80 and port 443 to elsewhere.  Make sure you uninstalle

[2017-07-14 11:25] gnufied commented on #194
I think https://github.com/code-mancers/invoker/issues/162 bug has more details about this problem.

[2017-07-14 11:44] gotoAndBliss commented on #194
@gnufied I just combed through the pow uninstall script, and then double checked my pf.conf and anywhere POW may place anchors can confirm *everything* is back to its original vanilla state. I ran through the script manually, then rebooted to double check. Same situation.

Would you know where else a filter rule might be hiding or how one could test for that via terminal?

[2017-07-15 09:40] adisos commented on #190
@swrobel @gnufied
I always use invoker in daemon mode, so any chance I could tail logs in colorized mode?

[2017-07-17 13:15] gnufied commented on #190
I can consider it, the reason I removed colorized output from log file is because it seems to confuse tools like grep or if you are reading logs in a tool that is not capable of handling ascii escape sequences.  May be we should revert back colorized output to way it was before and add a flag to disable colors if logs are going to a file?

[2017-07-17 15:06] adisos commented on #190
It would be awesome.

[2017-07-18 10:08] swanandp commented on #194
Port forwarding has suddenly stopped working for me too.  Bummer.

- `http://myapp.dev:9000/` works
- `http://myapp.dev/` doesn't work

Resolver and firewall.plist are both in sync with `~/.invoker/config`.

[2017-07-18 10:15] iffyuva commented on #194
@swanandp since which version are you facing this issue?

[2017-07-18 10:21] swanandp commented on #194
It just stopped working for me today, I upgraded to latest version, but w/o a fix.

[2017-07-18 10:23] iffyuva commented on #194
@swanandp let me try to reproduce the issue, and update you. Thanks.

[2017-07-18 10:46] swanandp commented on #194
Let me know if you want any debugging information. Might help others

[2017-07-18 10:52] iffyuva commented on #194
@swanandp sure. For now, please rollback to old version, while we debug this issue.

[2017-07-18 10:54] gotoAndBliss commented on #194
@iffyuva How does one rollback? And what version would be last working?

[2017-07-18 11:06] iffyuva commented on #194
I have invoker `1.5.1`. Can you try that version @gotoAndBliss

You follow these steps

[code]

[2017-07-18 11:14] gotoAndBliss commented on #194
@iffyuva Ah thanks so much. Tried 1.5.1, and 1.4.1, still need to assign a port though.

[2017-07-18 17:35] iffyuva commented on #194
@gotoAndBliss @swanandp I have pushed a branch for debugging `em-proxy` gem. Can you send me logs for your app(s). Steps:

[code]

You should see sample logs like this: https://gist.github.com/iffyuva/c6327944a998c83411e1b4d4f045304e

Please gist them, and post them here. Thanks.

[2017-07-19 04:11] swanandp commented on #194
@iffyuva I am pretty sure this is a networking setup issue, and not Invoker.  I just uninstalled invoker and tried Pow, and that isn't working as well.  ( This is from my co-working space ).

I will try from home setup, and if everything works, let you know.

[2017-07-19 09:29] gotoAndBliss commented on #194
@iffyuva Here you are sir. Thank you so much!!

https://gist.github.com/gotoAndBliss/299c3c95d6008baac88c755fd79b3ad0

[2017-07-20 05:21] swanandp commented on #194
So, I got this working after running this:

[code]

Contents of my `pf.conf`

[code]

[2017-07-20 05:28] swanandp commented on #194
And before that, I tried enabling port-forwarding: `sudo sysctl -w net.inet.ip.fw.enable=1`

[2017-07-20 06:39] iffyuva commented on #194
@swanandp nice that you have solved it yourself :D

[2017-07-21 12:08] gotoAndBliss commented on #194
@swanandp

Interesting response. I tried `sudo sysctl -w net.inet.ip.fw.enable=1`, but got `sysctl: unknown oid 'net.inet.ip.fw.enable'`. I'm using Mac OS X Sierra 10.12.5.

So I started looking for any kind of port forwarding ( I admittedly have no idea what I'm doing ). But I found this.. `/etc/sysctl.conf`

And messed with this `net.link.ether.inet.arp_unicast_lim=0`, set it to `1` and ran `sud

[2017-07-22 19:50] #177 closed

[2017-07-22 19:53] gnufied commented on #134
Yes, this is implemented here. Following ini config I use for starting kubernetes locally:

[code]

[2017-07-22 19:53] #134 closed

[2017-07-24 05:18] swanandp commented on #194
@gotoAndBliss

So, `oid` work in groups as well, you can successively try:

[code]

Be warned, there is _a lot_ of output to sift through:

[code]

I don't think so.  RVM comes into play _after_ the port forwarding has happened.  It's further up the stack.

[2017-07-24 10:44] gotoAndBliss commented on #194
@swanandp

I tried this

[code]
then

[code]

But alas, still need to designate the port. My other `net.inet.ip` 's

https://gist.github.com/gotoAndBliss/049fa7e5ac94b29f0976042f954f019c

[2017-07-25 08:18] gotoAndBliss commented on #194
Today I went a bit further. Curious if anyone can see something blatantly incorrect about my approach here..

Started also forwarding ip6
[code]

Created a new forwarding rule
[code]

With
[code]

Added it to `/private/etc/pf.conf `

Parse tested it `sudo pfctl -vnf /etc/pf.anchors/org.user.forwarding` . It was correct.

Rebooted, and ran `sudo pfctl -f /etc/pf.conf; sudo pfctl -e` .

Still need t

[2017-07-30 12:49] ioquatix commented on #185
I've just released RubyDNS 2.0.0.

Please consider updating and let me know any feedback. Thanks.

The main user visible change between rc and 2.0.0 was that the `listen:` option was replaced by simply suppling as the first argument.

[2017-08-01 11:54] WojtekKruszewski commented on #194
Could it be caused by https://github.com/code-mancers/invoker/issues/184?

[2017-08-01 11:55] WojtekKruszewski commented on #184
@ProGM downgrading ruby to 2.3.1 fixed the problem for me

[2017-08-01 12:33] gotoAndBliss commented on #194
@WojtekKruszewski Thanks so much for the recommendation. I was previously on 2.1.5, and went to 2.3.0, but the problem still persisted.

[2017-08-08 10:06] Arkham commented on #194
I have bumped into the same issue. I can access my app fine by visiting localhost:9000, but if I visit web.dev I'm greeted by the usual

I'm using the latest version (1.5.4) and these are my configuration files:

[code]

[code]

[code]

[code]

and here is the output of `invoker list`

[code]

[2017-08-09 04:48] swanandp commented on #194
@Arkham Does this work for you: https://github.com/code-mancers/invoker/issues/194#issuecomment-316599726  ( It did for me, but didn't for @gotoAndBliss )

[2017-08-09 09:00] Arkham commented on #194
Hey @swanandp! I've tried every suggestion in the thread and the current situation is:

* `localhost:9000` ✅
* `web.dev` 🔴
* `web.dev:9000` 🔴

[2017-08-10 12:03] gotoAndBliss commented on #194
@Arkham Are you on a mac or pc?

[2017-08-21 15:04] will-in-wi opened #197 "Allow passing custom cert"
Invoker uses the included self-signed certificate from EventMachine. Could a feature be added to allow us to provide a custom certificate chain and key?

[2017-08-21 15:06] kgrz commented on #197
Oh! that sounds like a cool feature! Do you have any idea/pointers how the API would look like in the config?

[2017-08-21 16:14] will-in-wi commented on #197
Probably reflect the EventMachine config: http://www.rubydoc.info/github/eventmachine/eventmachine/EventMachine/Connection:start_tls

[code]

If you don't care about the abstraction being leaky, you could potentially allow the user to arbitrarily modify the hash passed to `EventMachine::Connection#start_tls`. That would give maximum flexibility.

[2017-08-21 20:00] gnufied commented on #197
There are two ways  we could do this:

1. Add support for specifying the certificates via CLI argument to `invoker start` command. Something like - `invoker start --cert="/foo.crt" --private_key="/foo.key"` . This would obviously mean that all services managed by Invoker will use same certificate.  Obviously, current implementation forces that default too.

2. We *can* potentially make it configur

[2017-08-21 20:57] will-in-wi commented on #197
My use case is to have a locally trusted custom CA, from which I would issue a `*.dev` TLD wildcard cert. I already have this CA for other dev work, and it'd be helpful to use it for this.

Also, there is a potential security vulnerability to using a cert with a publicly available private key. If that cert were marked as trusted by the user, they've now opened themselves to MITM attacks from attac

[2017-08-21 20:57] will-in-wi commented on #197
With all of that in mind, I'd probably start with option 1. If you want to do option 2 as well, that might be nice, though I wouldn't personally use it.

[2017-08-21 21:45] gnufied commented on #197
Alright I will try and get a patch that makes it configurable via CLI knocked up. But if someone beats me to the punch and opens a PR, that would be awesome too. @kgrz what you think?

[2017-08-22 01:14] kgrz commented on #197
I'm inclined more toward option 2. May be under a `[default]` section.

[2017-08-22 01:37] gnufied commented on #197
hmm, for feature itself I would say lets follow YAGNI and just implement global flags for user specified certs and private key. If there is a demand for per app ssl certs - we can revisit this topic. Implementing global certs is hardly 10 line change.

[2017-09-13 19:01] will-in-wi commented on #197
@gnufied Do you have any pointers as to where you would put the configuration? I can try to assemble a PR if I knew where to start.

Thanks!

[2017-09-13 19:41] gnufied commented on #197
@will-in-wi rather than putting in configuration, i think we can make this CLI params to invoker start. `invoker start --cert="/foo.crt" --private_key="/foo.key"`

[2017-09-25 23:29] jeromedalbert commented on #182
I am having the same problem with ruby 2.4 but using rbenv.

How can I know that?

[2017-09-26 20:48] #197 closed

[2017-09-30 21:48] adis-io opened #200 "[Feature request] `invoker list` with watch mode"
I'd like to see `invoker list` with watch/follow mode.

Is it hard to do? I thought I can try to implement, but with your help.

[2017-10-01 03:44] gnufied commented on #200
If you want watch mode, you can simply run `invoker list` with watch command. i.e - `watch invoker list`. That should display status of processes as they start/die etc.

[2017-10-01 05:55] adisos commented on #200
Yeah, I knew it. Actually I'm doing it now. But I think it would be cool if it was achieved with IPC.

[2017-10-05 23:24] bhenderson opened #201 "Can the server reload config?"
If I add commands to my invoker.ini file I have to restart the service. Can the daemon just reload the config anytime it needs it?
I was confused at the `add` command not working with newly added commands.
Would this feature be interesting?

[2017-10-07 12:43] gnufied commented on #201
Yeah it is possible to implement that I think. The most trickiest part will be perhaps `foo.dev` dns must keep working, but it is possible.

[2017-10-09 01:42] bhenderson opened #202 "wildcard entry"
I have an invoker.ini file like this:

[code]

My problem is that foo.dev is my "main" site, but I need *.foo.dev to go to api (other than bar).
My current thinking is to allow a directive `wildcard = true` or `alias = *.foo`

[2017-10-19 09:10] Dan2552 commented on #194
@Arkham I had the same and was resolved by running with binding `0.0.0.0` (e.g. `rails s -b 0.0.0.0`)

[2017-10-19 17:57] Arkham commented on #194
@Dan2552 amazing, works for me too!

[2017-10-19 20:15] ralphy006 opened #204 "Cisco Anyconnect VPN 4.4 breaks invoker"
After upgrading our Anyconnect client (from 4.2 to 4.4), Invoker seems to be broken.

Anyone find a workaround?

[2017-10-19 20:19] Braidio commented on #194
Would there be something equivalent for running `rails thin` ?

[2017-10-19 20:20] gotoAndBliss commented on #194
Would there be something similar for running `rails thin`?

[2017-10-19 20:40] gnufied commented on #194
thin also has a `-a ` option that you can use to specifying binding address.

[2017-10-19 20:43] ralphy006 commented on #204
Sorry, should've mentioned that.

MAC, Sierra

[2017-10-19 20:46] gotoAndBliss commented on #194
@gnufied Ah ok, because I tried `-a 0.0.0.0`, but nothing happened. Should the address always be 0.0.0.0?

[2017-10-19 20:55] gnufied commented on #204
This is going to be tricky to fix without some help from you. when you say breaks - I assume you mean "foo.dev" feature stops working?

[2017-10-19 21:06] ralphy006 commented on #204
something like test.dev displays a pager ("Yay you are on rails!")

When on the VPN (4.4+), it says page cannot be found.

It looks like the VPN client causes the traffic to get reset

[2017-10-26 06:54] AlfonsoUceda commented on #165
Hi, is there a chance for this feature?

[2017-11-29 20:24] rmeyerpagerduty commented on #87
I still have this issue as well on Ubuntu 16.x

I would love to help contribute to this fix.

[2017-12-15 23:14] jeromedalbert opened #205 "Change the default .dev tld to .test (or other)"
My Chrome browser updated to version 63 today. It forces .dev domains to HTTPS, with preloaded HSTS.

In practice it means that `.dev` domains don't work. Even when using https, I cannot ignore invalid dev certificates any more:

<img width="1392" alt="screen shot 2017-12-15 at 3 00 58 pm" src="https://user-images.githubusercontent.com/236461/34063890-f1c99f30-e1a9-11e7-852a-b4502c052e82.png">

No

[2017-12-16 09:17] kgrz commented on #205
I'm liking `.localhost` more. Downside is higher number of chars :(

[2017-12-16 12:40] iffyuva commented on #205
You can re-install with `--tld` option https://github.com/code-mancers/invoker/pull/153/files. Please refer to `.dev TLD support for OSX and Linux` section in docs http://invoker.codemancers.com/

[2017-12-16 16:01] kgrz commented on #205
https://github.com/code-mancers/invoker/pull/206 Changed default domain `.local` because I like it and it's shorter than `.localhost`, and a bit more specific than `.test`. Should we maintain compat with pow and use `.test` instead?

[2017-12-16 17:42] jeromedalbert commented on #205
`dev` was perfect because it had only 3 letters to type, and I can't think of a meaningful replacement with 3 letters. The next word with 4 letters is `.test`, which is shorter to type. `.local` is 5 letters but is a better description.

Eventually it would be nice if there was a consensus on Pow, Invoker, and Puma-dev. Would make switching between each other easier. Maybe we maintain compat with

[2017-12-18 12:10] shir commented on #205
Looks like `.local` is bad option. At least for Mac OS X. It doesn't work as expected. For example see this discussion https://discussions.apple.com/thread/7707202

[2017-12-18 13:06] gnufied commented on #205
@kgrz @iffyuva I think I agree, it appears that `.local` might not be best choice. it conflicts with avahi on Linux too (https://unix.stackexchange.com/questions/352237/avahi-daemon-and-local-domain-issues).

I propose `.devel` as invoker's TLD. I know it is 5 letter but ain't worse than `.local` which was 5 letter too and `.devel` is unlikely to be used by another component on Linux or OSX.

[2017-12-18 13:17] shir commented on #205
@gnufied according to [this RFC](https://tools.ietf.org/html/rfc2606#section-2) only next domains are available for internal usage: `.test`, `.example`, `.invalid`, `.localhost`

Looks like `.test` or `.localhost` are best options which will not break anything. And user always may set something different if he want.

[2017-12-18 13:59] kgrz commented on #205
Cool, will push a change to `.test` tonight. My bad that I didn't do much research while changing this. Sorry :(

[2018-01-15 13:05] #205 closed

[2018-01-20 04:01] kgrz commented on #101
This is complete, I think.

[2018-01-20 04:01] #101 closed

[2018-01-20 04:02] kgrz commented on #201
Probably related #11

[2018-01-20 04:06] kgrz commented on #189
Duplicate of #109 🤦‍♂️

[2018-01-20 04:06] #189 closed

[2018-02-13 18:02] brentdodell opened #213 "Add process dependencies"
It would be nice if you could make one process dependent on another so that:

1. If you try to start a process with dependencies, it ensures the dependencies are started first
2. And maybe if you restart a dependency, maybe it restarts all processes that are dependent on it (this could be configurable?)

[2018-02-15 16:21] bhenderson opened #215 "log: file not found"
[code]

Am I doing something wrong?
thanks.

[2018-02-16 00:46] bhenderson commented on #215
I figured out that the log file is only available if daemonized!

thanks,

[2018-02-16 00:46] #215 closed

[2018-02-16 04:33] kgrz commented on #213
Interesting. Stretching this a little further, won't we be looking at something like supervisord at that point? :) Also, trying to imagine what'd happen if one of the child processes exists; what should be the handling in that case.

[2018-03-20 12:14] Krishna-akkala commented on #143
Hi, i am running invoker setup --tld testsite from centos7 command prompt. but unfortunately i am facing the below error.
`/usr/local/share/gems/gems/facter-2.5.1/lib/facter/core/execution/posix.rb:9: warning: Insecure world writable dir /root/.nvm/v9.4.0/bin in PATH, mode 040777
/usr/local/share/gems/gems/invoker-1.5.6/lib/invoker/power/setup/distro/base.rb:35:in `distro_installer': Your selected

[2018-03-20 12:18] Krishna-akkala opened #216 "`distro_installer': Your selected distro is not supported by Invoker"
Hi, i am running _**invoker setup --tld testsite**_ from centos7 command prompt, but unfortunately i am facing the below error.
`/usr/local/share/gems/gems/facter-2.5.1/lib/facter/core/execution/posix.rb:9: warning: Insecure world writable dir /root/.nvm/v9.4.0/bin in PATH, mode 040777
/usr/local/share/gems/gems/invoker-1.5.6/lib/invoker/power/setup/distro/base.rb:35:in `distro_installer': Your se

[2018-03-20 13:03] kgrz commented on #216
https://github.com/code-mancers/invoker/blob/efec348d956525db03fa17b51a8d5e1eb56c15da/lib/invoker/power/setup/distro/base.rb#L15 looks like this is the problem. As a short-term fix, I think we can alias the redhat.rb script if os is centos.

We'll see if there's a way to avoid checking OS and switching this and may be setup a more config-based approach for this.

[2018-05-29 15:11] WojtekKruszewski opened #218 "Exception with dotenv 2.3"
[code]

Related in PR in dotenv:
https://github.com/bkeepers/dotenv/pull/345

[2018-06-10 18:18] meneerprins opened #219 "Invoker with Ubuntu 18.04"
Hi, I'm trying to use Invoker with a fresh 18.04 Ubuntu installation but I can't get it to work. When I run `sudo invoker setup --tld test` I keep getting an error: `failed to create listening socket for port 53: Address already in use` I tried to find a solution but nothing really worked and I'm not an Ubuntu expert so modifying system files without knowing what I'm doing seems like a bad idea fo

[2018-06-11 06:22] iffyuva opened #220 "Fresh install fails on Ruby 2.5.1"
So, I installed ruby 2.5.1 on osx, and installed invoker. When I run invoker, it errors out:

[code]

Any idea whats going on?
/cc @kgrz

[2018-06-11 18:29] mathieul commented on #220
The problem comes from the incompatibility with dotenv > 2.2.2, and you have dotenv v2.3.0 installed.

It's been fixed on master: https://github.com/code-mancers/invoker/pull/217

So you can wait until a new version comes out, or you can manually remove dotenv 2.3.0 and install 2.2.2 instead by the mean time.

[2018-06-12 01:46] gnufied commented on #219
BTW it is possible that you are running into conflicts between `systemd-resolved` and `dnsmasq`. In which case suggested workaround appears to be:

https://unix.stackexchange.com/questions/304050/how-to-avoid-conflicts-between-dnsmasq-and-systemd-resolved?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-06-12 06:08] iffyuva commented on #220
@mathieul thanks for pointing it out. :)

[2018-06-12 06:08] #220 closed

[2018-10-30 15:21] Grace opened #222 "Invoker fails to build/install with Ruby 2.5 & Rails 5.2 on Windows 10 due to http-parser-lite (0.6.0)"
Similar issue seen with the ffi gem: https://github.com/ffi/ffi/issues/598

![image](https://user-images.githubusercontent.com/14958021/47729036-d9c8e800-dc35-11e8-83ce-1291e7565385.png)

[2018-11-09 08:43] #118 closed

[2019-01-08 22:52] drush opened #223 "Custom certificate file name expansion support"
This invocation should expand to reference the user's home directory
```invoker start --certificate="~/mkcert.pem" --private-key="~/mkcert-key.pem"````

It currently results in
[code]

[2019-07-25 21:50] swrobel opened #226 "Why isn't it possible to set sleep_duration to 0?"
I don't get why I have to wait 1 second before invoker starts any of my processes. I can't even set the value to 0 manually because [it's overridden](https://github.com/code-mancers/invoker/blob/v1.5.6/lib/invoker/parsers/config.rb#L136).

[2019-08-13 14:18] #195 closed

[2019-08-22 16:01] gotoAndBliss commented on #194
Purchased a brand new macbook, fresh install. Same issue. 😭

[2019-08-22 16:43] gotoAndBliss commented on #194
I discovered that if I greenfielded a new app, everything works as expected. No port required.

I tried stripping down the problem app to practically nothing ( still in the process of stripping ). And everytime I make the call I get this error

[code]

Not sure if that means anything to anyone on this thread.

[2019-09-26 22:11] #226 closed

[2020-01-24 15:56] #219 closed

[2020-09-22 13:24] OlegSmelov opened #240 "SSL forwarder crashes on connect on Ubuntu 20.04"
The crash is caused by https://github.com/eventmachine/eventmachine/issues/926

The solution is to wait for eventmachine to be updated and release the new version of Invoker that depends on the new version.

Copying the comment from the issue:

[code]

[2020-09-22 17:31] swrobel commented on #240
@OlegSmelov have you tested, and does Invoker work w/ latest EM? I thought for some reason we were locked to the version that we are because another dep required older EM ... but that decision was before my time working on the project so I'm not certain.

[2020-09-22 22:06] OlegSmelov commented on #240
Building against newer `eventmachine` alone doesn't work:

[code]

Newer versions of RubyDNS do not use EventMachine anymore, so I doubt they're compatible. It won't be as easy as I imagined after all.

[2020-09-22 22:31] OlegSmelov commented on #240
For context and workarounds:
* https://askubuntu.com/questions/1233186/ubuntu-20-04-how-to-set-lower-ssl-security-level
* https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/1864689

I haven't tried it, but another workaround would be to use your own certificate and private key with Invoker. It seems to me that as long as we depend on the default certificate, this issue is bound to resurface ev

[2020-09-22 22:44] swrobel commented on #240
yes, unfortunately I attempted a refactor at one point to use newer async-based RubyDNS and gave up as it was basically turning into a rewrite.

[2020-12-06 20:30] swrobel commented on #204
I'm seeing the same on macOS 10.15.7 with Pulse VPN installed (even if the Pulse app isn't running). Any luck finding a workaround @ralphy006?

[2021-01-21 20:41] nicobrenner commented on #240
@OlegSmelov thank you for the links about openssl configuration.

I had a similar issue in MacOS. Invoker would crash with a Bus Error and a stack trace (see screenshot below).

![image](https://user-images.githubusercontent.com/2296756/105408882-6a5bbc00-5be4-11eb-8246-9cd776d373fe.png)

Apparently something having to do with openssl's start_tls and the eventmachine gem.

What worked for me was:

[2021-11-26 10:15] ambentzen opened #244 "Balancer is broken in 1.5.8"
The proxy/balancer is broken in 1.5.8 as it uses the `transform_keys` method on `Hash`, which was as far as I can tell was introduced in Ruby 2.5.5.

It is used here: https://github.com/code-mancers/invoker/blob/1992f355ad82470d172f7fee6078cbb4817f61cb/lib/invoker/power/balancer.rb#L68

If I manually specify the port in the URL I can access my app.

Version 1.5.7 seems to work, for me at least, on